xml/WRProjectSchemaBasic.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start=root
root=element root{text|person|place|event|date|qoute}

person=element person{perid,text}
place=element place{plaid,text}
event=element event{eveid,text}
date=element date{daid,text}
qoute=element qoute{speaker, text}

perid=attribute perid{text}
plaid=attribute perid{text}
eveid=attribute perid{text}
daid=attribute perid{text}
speaker=attribute speaker{text}