xml/Overview_Events/WarrenSchema2.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start=wrstart
wrstart=element wrstart{(text|overview|topic)*}
overview=element overview{(date|duration|event|key_leaders|risk|outcome|definition|key_elements|cold_war_tensions|cuba|public_opinion|leader|overthrow|us_reaction)*}

date=element date{text}
duration=element duration{text}
event=element event{(text|date|location|description|officiator|consequence|commission_chairman)*}
key_leaders=element key_leaders{leader*}
risk=element risk{text}
outcome=element outcome{text}
definition=element definition{text}
key_elements=element key_elements{(tension_types|direct_conflict|superpowers|key_element)*}
cold_war_tensions=element cold_war_tensions{(event|date|american_reaction|incident|consequence)*}
cuba=element cuba{(event|date|result|reaction)*}
public_opinion=element public_opinion{concern}
overthrow=element overthrow{text}
us_reaction=element us_reaction{(government|relationship_with_khrushchev)*}

tension_types=element tension_types{type}
direct_conflict=element direct_conflict{text}
superpowers=element superpowers{superpower}
american_reaction=element american_reaction{text}
consequence=element consequence{text}
government=element government{text}
relationship_with_khrushchev=element relationship_with_khrushcev{text}
reaction=element reaction{text}
concern=element concern{text}

type=element type{text}
superpower=element superpower{(name|alliances)*}
name=element name{text}
alliances=element alliances{text}

topic=element topic{(subject|date|approval|location|forces_trained|leader|covert|authorization|deception|invasion_details|bombing_mishap|date_of_landings|brigade|landing_outcome|weather_effects|troops_committed|air_support|outcome|ceremony|lasting_impact
|kennedy|nixon|first_debate|religion|civil_rights|eisenhower_campaigning|polls|popular_vote_margin|total_votes|electoral_votes|historical_significance
|world_war_ii_alliance|post_wwii_tensions|soviet_expansion|us_containment_policy|asia|korean_war|vietnam_war|cuba|campaign_1960|kennedy_inaugural_address|bay_of_pigs|arms_race|cuban_missile_crisis|peace_initiatives|vietnam
|action|decision|objective|demand|medium|content|link|action|agreement|consequence|outcome|key_elements|arms_race|actions|teletype_hotline|nuclear_test_ban|quote
|locations|purpose|events|location|weather|event|breakfast|details|time|incident|final_grave_site|findings|legislation)*}

subject=attribute subject{text}
approval=element approval{(president|date)*}
location=element location{text}
forces_trained=element forced_trained{(force_size|mission)*}
leader=element leader{(text|name|role|description)*}
covert=element covert{(exiles_in_miami|castro_intelligence)*}
authorization=element authorization{(president|date)*}
deception=element deception{(landing_point|reason|terrain)*}
invasion_details=element invasion_details{(air_strikes|support_forces|main_force_mission|provisional_government)*}
bombing_mishap=element bombing_mishap{(description|consequence|president_decision)*}
date_of_landings=element date_of_landings{text}
brigade=element brigade{text}
landing_outcome=element landing_outcome{text}
weather_effects=element weather_effects{text}
troops_committed=element troops_committed{text}
air_support=element air_support{(planes|failure)*}
ceremony=element ceremony{(date|location|flag_handling)*}
lasting_impact=element lasting_impact{(effect|goal)*}

president=element president{text}
force_size=element force_size{text}
mission=element mission{text}
role=element role{text}
exiles_in_miami=element exiles_in_miami{text}
castro_intelligence=element castro_intelligence{text}
landing_point=element landing_point{text}
reason=element reason{text}
terrain=element terrain{text}
air_strikes=element air_strikes{text}
support_forces=element support_forces{text}
main_force_mission=element main_force_mission{text}
provisional_government=element provisional_government{text}
president_decision=element president_decision{text}
planes=element planes{text}
failure=element failure{text}
flag_handling=element flag_handling{(flag_hand_over_to|promise)*}
goal=element goal{text}
flag_hand_over_to=element flag_hand_over_to{text}
promise=element promise{text}
effect=element effect{text}
result=element result{text}



kennedy=element kenendy{(name|party|challenges|primary_victory|convention_victory|running_mate|campaign_message)*}
nixon=element nixon{(name|party|role|age|running_mate|campaign_message|polls)*}
first_debate=element first_debate{(date|viewership|kennedy|nixon|impact)*}
religion=element religion{(kennedy_statement|challenge)*}
civil_rights=element civil_rights{(key_event|kennedy_intervention|endorsement|outcome)*}
eisenhower_campaigning=element eisenhower_campaigning{text}
polls=element polls{text}
popular_vote_margin=element popular_vote_margin{text}
total_votes=element total_votes{text}
electoral_votes=element electoral_votes{(kennedy_votes|nixon_votes)*}
historical_significance=element historical_significance{(youngest_president|born_in_20th_century)*}

party=element party{text}
challenges=element challenges{(youth|faith)*}
primary_victory=element primary_victory{(state|date)*}
convention_victory=element convention_victory{(location|ballot_number)*}
running_mate=element running_mate{text}
campaign_message=element campaign_message{text}
age=element age{text}
viewership=element viewership{(percent|audience)*}
impact=element impact{text}
kennedy_statement=element kennedy_statement{text}
challenge=element challenge{text}
key_event=element key_event{text}
kennedy_intervention=element kennedy_intervention{(personal_intervention|brother_intervention)*}
endorsement=element endorsement{text}
kennedy_votes=element kennedy_votes{text}
nixon_votes=element nixon_votes{text}
youngest_president=element youngest_president{text}
born_in_20th_century=element born_in_20th_century{text}

personal_intervention=element personal_intervention{text}
brother_intervention=element brother_intervention{text}
audience=element audience{text}
percent=element percent{text}
ballot_number=element ballot_number{text}
state=element state{text}
youth=element youth{text}
faith=element faith{text}



world_war_ii_alliance=element world_war_ii_alliance{(countries|enemy)*}
post_wwii_tensions=element post_wwii_tensions{(event|date|outcome)*}
soviet_expansion=element soviet_expansion{(region|countries)*}
us_containment_policy=element us_containment_policy{(goal|actions)*}
asia=element asia{(event|date|country|outcome)*}
korean_war=element korean_war{(start_year|conflict|us_involvement|soviet_involvement|end_year|outcome)*}
vietnam_war=element vietnam_war{(event|date|us_involvement|goal)*}
campaign_1960=element campaign_1960{(cold_war_rhetoric|nuclear_concerns|criticism_of_eisenhower)*}
kennedy_inaugural_address=element kennedy_inaugural_address{(date|quote)*}
bay_of_pigs=element bay_of_pigs{(date|operation|result|kennedy_response)*}
arms_race=element arms_race{(text|first_meeting|berlin_wall|nuclear_buildup)*}
cuban_missile_crisis=element cuban_missile_crisis{(date|event|kennedy_response|aftermath)*}
peace_initiatives=element peace_initiatives{(speech|limited_nuclear_test_ban_treaty|hotline)*}
vietnam=element vietnam{(us_commitment|escalation)*}

enemy=element enemy{text}
region=element region{text}
countries=element countries{country}
start_year=element start_year{text}
conflict=element conflict{text}
us_involvement=element us_involvement{text}
soviet_involvement=element soviet_involvement{text}
end_year=element end_year{text}
cold_war_rhetoric=element cold_war_rhetoric{(kennedy_promise|nixon_promise)*}
nuclear_concerns=element nuclear_concerns{text}
criticism_of_eisenhower=element criticism_of_eisenhower{text}
operation=element operation{text}
first_meeting=element first_meetup{(leaders|location|date|outcome)*}
berlin_wall=element berlin_wall{(date|event)*}
nuclear_buildup=element nuclear_buildup{(kennedy_action|soviet_reaction)*}
kennedy_response=element kennedy_response{(action|demand|result)*}
aftermath=element aftermath{text}
speech=element speech{(date|location|message)*}
limited_nuclear_test_ban_treaty=element limited_nuclear_test_ban_treaty{(date|goal|result)*}
hotline=element hotline{(date|purpose|goal)*}
us_commitment=element us_commitment{(date|action|additional_support|statement)*}
escalation=element escalation{(date|troops|kennedy_ambivalence)*}
troops=element troops{text}
kennedy_ambivalence=element kennedy_ambivalence{(quote|decision)*}
additional_support=element additional_support{text}
statement=element statement{text}
soviet_reaction=element soviet_reaction{text}
kennedy_action=element kenendy_action{text}
leaders=element leaders{leader}
kennedy_promise=element kennedy_promise{text}
nixon_promise=element nixon_promise{text}

action=element action{text}
decision=element decision{text}
objective=element objective{text}
demand=element demand{text}
medium=element medium{text}
content=element content{(message|tone)*}
link=element link{text}
agreement=element agreement{(soviets|us|secret_deal)*}
actions=element actions{(action|message)*}
teletype_hotline=element teletype_hotline{(date|description)*}
nuclear_test_ban=element nuclear_test_ban{(date|treaty|goal)*}
quote=element quote{text}
country=element country{text}

message=element message{text}
tone=element tone{text}
soviets=element soviets{text}
us=element us{text}
secret_deal=element secret_deal{text}
treaty=element treaty{text}



locations=element locations{(location|description)*}
purpose=element purpose{description}
events=element events{event}
weather=element weather{text}
breakfast=element breakfast{description}
details=element details{description}
time=element time{text}
incident=element incident{(text|description|consequence|hospital)*}
final_grave_site=element final_grave_site{description}
findings=element findings{summary}
legislation=element legislation{(description|location)*}

description=element description{text}
key_element=element key_element{text}
officiator=element officiator{text}
summary=element summary{text}
commission_chairman=element commission_chairman{text}
hospital=element hospital{(location|result)*}